<ion-view hide-back-button="true">
	<ion-content>
		<div class="tabs-striped tabs-top tabs-background-royal tabs-color-light">
    		<div class="tabs">
    		  <a class="tab-item active" href="#">
    		    <i class="icon ion-home"></i>
    		    Test
    		  </a>
    		  <a class="tab-item" href="#">
    		    <i class="icon ion-star"></i>
    		    Favorites
    		  </a>
    		  <a class="tab-item" href="#">
    		    <i class="icon ion-thumbsup"></i>
    		    Settings
    		  </a>
    		</div>
  		</div>


	</ion-content>
</ion-view>