<ion-view>
	<ion-content>

		<div class="list card">
  			<div class="item item-avatar">
    			<img src="{{infos.image}}">
    			<h2>Rousse: {{infos.num}}</h2>
    			<p>Uploaded date: {{infos.date}}</p>
  			</div>

  			<div class="item item-body item-image">
  				<img src="{{infos.image}}">
    			<p>
      				{{infos.description}}
    			</p>
    			<p>
    				<a href="#" class="subdued">{{infos.like}} Like</a>
     				<a href="#" class="subdued">{{}} Comments</a>
    			</p>
  			</div>
  			<div class="item item-divider">
  				<div class="button-bar">
  					<a class="button royal">Like</a>
  					<a class="button royal">Comment</a>
  					<a class="button royal">Share</a>
				</div>
  			</div>
		</div>

	</ion-content>
</ion-view>