<ion-view>
	<ion-content>
		
		<div class="card">
			<div class="item item-button-right">
    			<h2>Upload a Ginger Pix</h2>
    			<p>Be sure of two things : she's redheads, and it's a PNG or JPG</p>
  			</div>

  			<div class="item item-image">
    			<img id="profileImage" src="profileImage" style="max-width:200px; max-height:200px;">
  			</div>

  			<div class="item item-icon-left royal item-button-right">
    			<i class="icon ion-upload"></i>
          <input type="file" accept="image/*" capture="camera" id="file-upload">
          <button class="button button-royal" ng-click="validate()">Add to Gallery</button>
  			</div>
  		</div>
	</ion-content>
</ion-view>